body {
  background-color: darkblue;
}
.weather-container {
  width: 300px;
  position: relative;
  display: inline-block;
  padding: 5px;
  margin: 10px;
  background-color: rgb(72, 72, 123);
}

p {
  color: white;
  text-align: justify;
}

img {
  display: inline-block;
  margin: 3px;
  width: 20%;
}

button {
  color: white;
  background-color: darkslategray;
  border-radius: 15%;
}

input {
  background-color: rgb(46, 46, 223);
  color: white;
  margin: 3px;
}
select {
  width: auto;
  margin: 5px;
}

.search {
  display: block;
  padding: 10px;
  margin: 10px;
  width: 95%;
  background-color: rgb(87, 140, 218);
}
